<div class="container mt-4" style="margin-bottom: 50px;">


    <h2 class="text-center"> Create account </h2>

    <div class="col-6 mx-auto">

        <input [(ngModel)]="agent.firstName" type="text" class="form-control m-1" placeholder="name">
        <input [(ngModel)]="agent.lastName" type="text" class="form-control m-1" placeholder="last name">
        <input  [(ngModel)]="agent.phoneNumber" type="text" class="form-control m-1" placeholder="phone number">
        <input [(ngModel)]="agent.email" type="text" class="form-control m-1" placeholder="email">
        <input [(ngModel)]="agent.password" type="password" class="form-control m-1" placeholder="password">
        <button (click)="signup()"  class="btn btn-dark form-control m-1">Register</button>

    </div>

</div>
