<div class="container mt-4">

    <h2 class="text-center"> Ajouter AVAE </h2>

    <div class="col-6 mx-auto">
        <p class="text-center" style="margin-right:250px; color:black;">Client: </p>
        <div class="col-6 mx-auto">
    
            <input [(ngModel)]="avae.client.firstName" type="text" class="form-control m-1" placeholder="nom">
            <input [(ngModel)]="avae.client.lastName" type="text" class="form-control m-1" placeholder="prenom">
            <input  [(ngModel)]="avae.client.phoneNumber" type="text" class="form-control m-1" placeholder="phone number">
            <input [(ngModel)]="avae.client.residenceSecteur" type="text" class="form-control m-1" placeholder="residenceSecteur">
            <input [(ngModel)]="avae.client.email" type="text" class="form-control m-1" placeholder="email">
            <input [(ngModel)]="avae.client.agenceSecteur" type="text" class="form-control m-1" placeholder="agenceSecteur">
            <label  for="selectOption" style="color: #152035; margin-left: 10px;">Secteur:</label>
            <select  [(ngModel)]="avae.client.secteur" (change)="onSecteurChange()" class="text-center" id="selectOption" name="selectedOption" style="width:350px ; height: 33px; margin-left: 90px; border-color: gray; border-radius: 2px;  margin-top: 10px; margin-bottom: 10px;">
                <option value="0">EXPORT</option>
                <option value="1">PROFESSION_LIBERALE</option>
                <option value="2">ETUDES_ET_CONSEILS</option>
                <option value="3">SERVICES_INFORMATIQUES</option>
                <option value="4">PROMOTION_IMMOBILIERE</option>
                <option value="5">TRAVAUX_PUBLICS_ET_BATIMENT</option>
                <option value="6">TRANSPORT_INTERNATIONAL_ROUTIER_DE_MARCHANDISES</option>
                <option value="7">CONSIGNATION_DE_NAVIRES</option>
                <option value="8">TRANSITAIRES</option>
                <option value="9">PRODUCTION_ET_DISTRIBUTION_CINEMATOGRAPHIQUE</option>
                <option value="10">IMPRESSION_ET_EDITION</option>
                <option value="11">PUBLICITE_ET_COMMUNICATION</option>
                <option value="12">ASSURANCES</option>
                <option value="13">AGENCES_DE_VOYAGES_LICENCE_A</option>
                <option value="14">ENSEIGNEMENT_SUPERIEUR_PRIVE</option>
                <option value="15">CLINIQUES_PRIVEES</option>
                <option value="16">LABORATOIRES_D_ANALYSES</option>
                <option value="17">SERVICES_FINANCIERS_BANQUE_LEASING</option>
                <option value="18">BOURSE_DES_VALEURS_MOBILIERES</option>
                <option value="19">INTERMEDIAIRES_EN_BOURSE</option>
                <option value="20">ANESTHESIE_ET_REANIMATION</option>
                <option value="21">OBSTETRIQUE</option>
                <option value="22">PSYCHIATRIE</option>
                <option value="23">PHYSIOTHERAPIE</option>
                <option value="24">ERGOTHERAPIE</option>
                <option value="25">ORTHOPHONIE</option>
                <option value="26">ORTHOPTIE</option>
                <option value="27">PROTHESE</option>
            </select>
    
        <label for="base" style="color: #152035; margin-left: 10px;">Montant Base (DT):</label>
        <input [(ngModel)]="avae.base" id="base" type="number" step="0.1" min="0" class="form-control m-1"> 
        
        <label for="initial" style="color: #152035; margin-left: 10px;">Montant Initial (DT):</label>
        <input [(ngModel)]="avae.initial" id="initial" type="number" step="0.1" min="0" class="form-control m-1"> 
        
        <label for="date" style="color: #152035; margin-left: 10px;">Date:</label>
        <input [(ngModel)]="avae.date" id="date" type="date" step="0.1" min="0" class="form-control m-1">  
        
        <label for="file" style="color: #152035; margin-left: 10px;">Déclaration fiscale:</label>
        <input  (change)="select($event)" type="file" id="file" class="form-control m-1" placeholder="image">
        
        <label  for="beneficiaire" style="color: #152035; margin-left: 10px; font-size: 19px;"><strong><u><a (click)="toggleBeneficiaire()">Ajouter Bénéficiaire:</a></u></strong></label>
        <div  id="beneficiaire">
            <input [(ngModel)]="avae.beneficiaire.firstName" type="text" class="form-control m-1" placeholder="nom">
            <input [(ngModel)]="avae.beneficiaire.lastName" type="text" class="form-control m-1" placeholder="prenom">
            <input  [(ngModel)]="avae.beneficiaire.phoneNumber" type="text" class="form-control m-1" placeholder="phone number">
            <input [(ngModel)]="avae.beneficiaire.function" type="text" class="form-control m-1" placeholder=" Function">
            <input [(ngModel)]="avae.beneficiaire.dateInscr" type="date" class="form-control m-1" placeholder="Inscription Date">
        </div>
        
        <button (click)="addAvaE()" class="btn btn-dark form-control m-1">Ajouter</button>

    </div>

</div>

<!--*ngIf="showBeneficiaire"-->